@using AboutMe.Services
@inherits LayoutComponentBase
@inject ThemeService ThemeService

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <MudMainContent>
        <div class="floating-controls">
            <CultureSelector />
            <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Default" OnClick="@ToggleDarkMode" />
        </div>

        <MudContainer MaxWidth="MaxWidth.Large" Class="my-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private bool _isDarkMode;

    private void ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;
        ThemeService.SetDarkMode(_isDarkMode);
    }
}